body{
    margin: 0px;
    overflow-x: hidden;
    background-color: #d5b991;
}
.rightDivElements img{
    height: 60px;
}
.subheading{
    font-size: 20px;
    font-family: __DM_Sans_05e5f9, __DM_Sans_Fallback_05e5f9, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(24, 18, 14);
}
.description{
    color:#372812;
    
    font-family:__Space_Mono_7dd02c, __Space_Mono_Fallback_7dd02c, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
}

p.explore{
    color:#372812;
    font-family:__Space_Mono_7dd02c, __Space_Mono_Fallback_7dd02c, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.about{
    background-color: #ece3d4;
    padding-left: 200px;
    padding-top:200px;
    padding-bottom: 200px;
    display: flex;
}
.leftDiv h1{
    font-family: __DM_Sans_05e5f9, __DM_Sans_Fallback_05e5f9, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 37px;
    color: rgb(24, 18, 14);
}
.leftDiv p{
    color:#372812;
    font-size: 20px;
    font-family:__Space_Mono_7dd02c, __Space_Mono_Fallback_7dd02c, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}
.leftDiv{
    display:flex;
    width: 50%;
    flex-direction: column;
}
.rightDivContainer{
    display: flex;
    width: 40%;
    padding-left: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.rightDivElements{  
    padding: 8px;
    align-items: center;
    flex-direction: column;
    max-width: 310px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    background-color: #e6d4bc;
    box-shadow: 2px 2px 5px #e6d4bc
}
.explore{
    padding: 140px;
    padding-bottom: 250px;
    justify-items: center;
    vertical-align: middle;
    align-items: center;
    background-color: #d5b991;
    font-size: 30px;
    color: rgb(24, 18, 14);
    font-family: __DM_Sans_05e5f9, __DM_Sans_Fallback_05e5f9, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    justify-content: center;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
}
.mainLink{
    color: black;
    text-decoration: none;
    
}
.menu{
    margin-left:30% ;
}
.menu :hover{
    text-decoration: underline;
    cursor: pointer;
}
.nav{
    font-family: __Space_Mono_7dd02c, __Space_Mono_Fallback_7dd02c, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    flex-direction: row;
    display: flex;
    margin-left: 26%;
}
.join{
    
    background-color: #d9cbb0;
    padding: 10px;
    display: flex;
    border: 0px;
    margin: 20px;
    align-items: center;
    font-size: 17px;
    color:#6e5b3b;
}
 button:hover{
    cursor: pointer;
}
.secnav{
    overflow:hidden;
    flex-direction: column;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.secnav button{
    font-size: 30px;
    border: none;
    background-color:#d5b991;
    text-align: center;
    display: none;
}
.secnav .navContent{
    position:static;
    visibility: hidden;
}
.secnav:hover .navContent{
    visibility: visible;
}
.secnav a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.navlink{
    padding: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.navlink:hover{
    text-decoration: underline;
}
.celestius{
    flex-direction: row;
    display:flex;
}
.logo{
    overflow: auto;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
    height:30px;
}
.sticky-div p{
    font-family: robo;
    margin-top: 9px;
    margin-left: 35px;
    font-size: 13px;
}
.sticky-div {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    background-color: #d5b991;
    position: sticky;
    top: 0px;
}

@font-face{
    font-family: robo;
    src: url("RobotoMono-Bold.ttf");
}
@media (max-width:480px){
    .secnav button{
        display: block;
    }
    .explore{
        width: 100%;
        padding: 0px;
        padding-bottom: 250px;
    }
    .explore h1{
        font-size: 35px;
    }
    .explore p{
        font-size:25px;
    }
    .about{
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .leftDiv{
        width: 100%;
    }
    .rightDivElements{
        
        width: 43%;
        font-size: 120px;
       
    }
    .rightDivContainer{
        flex-direction: row;
        width: 100%;
        padding-left: 0px;
    }

    .navlink{
        
        font-size: 100%;}

    .nav{
        visibility: hidden;
    }

    p.navmenu:hover{
        cursor: pointer;
        text-decoration: underline;
    }

}